body{
    background-color: #E8F1F2;
    color: #13293D;
    margin:0;
    padding:0;
    text-align:center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    text-align: left;
    margin:0 auto;
    max-width: 1200px;
    width:90%;
}
h1,h2{
    text-align: center;
}
.dark-link{
    color: #13293D;
    text-decoration: none;
}
footer>p{	
    color:#E8F1F2;
}
footer{
    background-color: #13293D;
    color:#E8F1F2;
    padding:10px 0 10px 0;
    margin-top:auto;
}
nav {
    height: 100%;
    list-style:none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
}
    
header>nav  {
background-color: #13293D;
overflow: hidden;
}

header>nav a {
float: left;
color: #E8F1F2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

header>nav a:hover {
background-color: #E8F1F2;
color: #13293D;
}

header>nav .active {
background-color: #E8F1F2;
color: #13293D;
}
header>nav:last-of-type{
    background-color: #247ba0;
    height: 5vh;
    padding:0;
}
header>nav:last-of-type>a{
    font-size: 12px;
}

p>a{
    color:#13293D; 
}

footer a{
    color:#EDF4F2;
}
a{
    color:#EDF4F2;
}
img{
    width: 50%;
}
figure{
    text-align: center;
    font-style: italic;
}
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}

@media screen and ( min-width: 601px ) and ( max-width: 980px ){
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}