body{
    background-color: #FDFBED;
    color: #2B2D42;
    margin:0;
    padding:0;
    text-align:center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    text-align: left;
    margin:0 auto;
    max-width: 1200px;
    width:90%;
    padding-bottom: 5vh;
}
h1,h2{
    color: #2B2D42;
    text-align: center;
}
h3{
    color: #576490;
}
.dark-link{
    color: #2B2D42;
    text-decoration: none;
}
footer>p{	
    color:#E8F1F2;
}
footer{
    background-color: #7796CB;
    color:#E8F1F2;
    padding:10px 0 10px 0;
    margin-top:auto;
}
nav {
    height: 100%;
    list-style:none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
}
    
header>nav  {
background-color: #7796CB;
overflow: hidden;
}

header>nav a {
float: left;
color: #E8F1F2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

header>nav a:hover {
background-color: #E8F1F2;
color: #2B2D42;
}

header>nav:last-of-type{
    background-color: #A3BCF9;
    height: 5vh;
    padding:0;
}
header>nav:last-of-type>a{
    font-size: 12px;
    color: #2B2D42;
}

p>a{
    color:#13293D; 
}

footer a{
    color:#EDF4F2;
}
a{
    color:#EDF4F2;
}
img{
    width: 50%;
}
figure{
    text-align: center;
    font-style: italic;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-style: normal;
}
td{
    padding: 0 5vw 0 5vw;
}

tr:nth-child(odd) {
    background-color: #D1D2F9;
}

legend{
    font-size: large;
    font-weight: bold;
    padding-top: 1rem;
}

fieldset {
    border: none;
    border-bottom: 3px solid #D1D2F9;
    padding: 1rem 0;
  }

label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #576490;
    border: 1px solid #576490;
    color: #ffffff;
  }

  input[type="file"] {
  padding: 1px 2px;
}

button, input[type="submit"], input[type="reset"], input[type="checkbox"]{
    background-color: #D1D2F9;
    color: #2B2D42;
    border-radius: 12px; 
    border: 5px solid #D1D2F9;
    cursor: pointer;
}

input[type="submit"], input[type="reset"]{
    width: 35%;
    margin: 1em 0 0 0;
    vertical-align: middle;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}

@media screen and ( min-width: 601px ) and ( max-width: 980px ){
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    
    main {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

    }

}