main{
    margin: 0;
    padding: 0;
}
body{
    background-color: #071011;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    color: #d5d5d5;
}

header{
    height:50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #d5d5d5;
    padding-bottom: 10px;
}
header>img{
    width: 100%;
    object-fit: cover;
    height:50%;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

ul>li{
    padding: 15px;
}
nav li:hover {
    background-color: #FF1E00;
    color: #d5d5d5;
    cursor: pointer;
}

footer{
    text-align: center;
}
h1{
    margin: 0;
    color: #FF1E00;
    text-align: center;
}
h2{
    color: #880D1E;
}
a{
    color: #FF1E00;
    font-style: italic;
}

section{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    align-items: center;
}

.home, .seasons, .how, .why{
    display:inline-flex;
    padding: 20px;
    max-width: 100%;
    margin-top: 5%;
}
 .locations, .teams{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    max-width: fit-content; 
    align-items: center;
}
.locations>section, .teams>section{
    display:inline-flex;
    padding: 20px;
    max-width: 100%;
    margin-top: 5%;
}

.block{
    display: block;
    max-width: 50%;
}

img{
    object-fit: cover;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0 20px 5px #880D1E;
}
figcaption{
    text-align: center;
    font-style: italic;
}

.tables{
    align-items: center;
}

table{
    border-collapse:collapse;
    margin: 10px;
    width: 100%;
}

tr {
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
    
}
tr:nth-child(odd) {
    background-color: #880D1E;
}

th{
    background-color: #880D1E;
}

th,td{
    padding: 15px;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {

main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}
table{
    width: 90%;
}
}

@media screen and ( min-width: 601px ) and ( max-width: 980px ){

main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}
table{
    width: 90%;
}
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {

main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
table{
    width: 100%;
    overflow-wrap:anywhere;
}
.home, .seasons, .how, .why, .teams>section, .locations>section, .block{
    display: block;
    max-width: 95%;
}
}