  <img src="/itis3135/riskiq/images/riskiqlogo.png" id="logo">
        <nav>
            <a href="contact.html">Contact</a>
            <div class="subnav">
              <button class="subnavbtn">About</button>
              <div class="subnav-content">
                <a href="company.html">Company</a>
                <a href="founder.html">Founder</a>
              </div>
            </div>
            <a href="services.html">Services</a>
            <a href="index.html">Home</a>
        </nav>
