<nav>
    <a href="https://webpages.charlotte.edu/iaullet/">Charlotte.edu</a>
    <a href="https://github.com/iaullet">GitHub</a>
    <a href="http://iaullet.github.io">GitHub.io</a>
    <a href="https://www.freecodecamp.org/iaullet">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/iaullet">Codecademy</a>
    <a href="http://linkedin.com/in/isabella-aullet-876530208">LinkedIn</a>
    <a href="bluealpaca/about.html">Blue Alpaca</a>
</nav>
<p>Page built by: <a href="aulletfirm.com/">Aullet Firm ©2025</a>, <a href="https://www.freecodecamp.org/certification/iaullet/responsive-web-design"><em>Certified in Responsive Web Design</em></a>, <a href="https://www.freecodecamp.org/certification/iaullet/javascript-algorithms-and-data-structures-v8"><em>Certified in JS</em></a></p>