<h1>Bella Aullet Blue Alpaca - ITIS3135</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="contract.html">Contract</a>
        </nav>
        <nav>
            <a href="bluealpaca/about.html">Blue Alpaca</a>
            <a href="stuff/Stuff-Page.htm">CRAPPY</a>
            <a href="aulletfirm.com/index.html">Design Firm</a>
            <a href="website_evaluations.html">Web Eval</a>
            <a href="hobby/index.html">Hobby</a>
        </nav>